.name {
    color: rgb(0, 20, 241);
    font-size: 30px;
    border-radius: 10px;
}
p {
    font-size: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: silver;
}
.slogan p{
    font-size: 5px;
    color: aqua;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 14px 16px;
}
li a {
    color: rgb(213, 209, 162);
}
a:hover {
    color: rgb(5, 55, 155);
}
hr {
    border: 1px solid gray;
}
body {
    background-image: url("https://wallpapercave.com/wp/wp3498945.jpg");
    background-size: cover;
    }
.about p{
    color: rgb(2, 124, 126);
    margin-right: 150;
    margin-left: 150;
}
.intro p{
    font-size: 40px;
    border-style: outset;
    color: rgb(247, 0, 255);
    margin-right: 500px;
}
.contact p{
    font-size: 15px;
    color: blue;
}
.about-title p{
    font-size: 30px;
    color: rgb(255, 128, 0);
}
.email-pic {
    color: white;
}